@font-face {
  font-family: "Norse-Bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.main {
  display: flex;
}

.banner {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  flex: 1;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 5rem;
  color: white;
  font-family: Norse-Bold, sans-serif;
  padding: 10px 50px;
  height: 100px;
  margin-top: 237px;
  justify-content: center;
  font-size: 50px;
}

.logo {
  max-height: 100%;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.hero,
.create {
  flex: 1;
  padding-left: 30px;
  padding-right: 200px;
}

.form {
  padding: 30px 200px 30px 30px;
}

.form-text {
  margin: 0;
  padding-bottom: 15px;
}

.hero {
  font-weight: 700;
  line-height: 20px;
  background-color: rgb(248, 246, 246);
  align-content: flex-end;
  padding-bottom: 30px;
  font-size: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 40%;
  color: rgb(80, 75, 75);
  padding-right: 30px;
  font-weight: 700;
}

input:focus-visible {
  outline: none;
  border: 1px solid rgba(0, 123, 255, 1);
  box-shadow: 0 0 5px rgba(76, 79, 82, 0.5);
}

input:invalid {
  border: 1px solid rgb(240, 27, 27);
}

label input {
  border: 1px solid #e5e7eb;
  font-size: 15px;

  border-radius: 5px;
}

.create {
  background-color: rgb(248, 246, 246);
  padding-top: 30px;
}

button {
  background-color: #596d48;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(76, 79, 82, 0.5);
}

.login {
  text-decoration: none;
  color: #596d48;
  font-weight: 700;
}
